.menu__lateral {
    grid: aside;
    background-color: var(--azul-main);
}

.menu__item-user {
    cursor: pointer;
    padding-left: 1rem;
}

.menu__item {
    display: flex;
    cursor: pointer;
    padding: 1rem 0rem 1rem 1rem;
    align-items: center;
    /* border-bottom: 2px solid #000; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menu__item h3 {
    font-size: 1rem;
    font-weight: 300;
    color: var(--branco);
}



.menu__item-usuario {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.menu__item-usuario img:nth-child(1){
    width: 35%;
    margin-right: .5rem;
}

.logout{
    text-align: end;
    align-self: start;
    justify-self: end;
    width: 10%;
    padding-left: 250px;
    padding-top: .5rem;
}

.menu__item--info {
    color: var(--branco);
}

.menu__item--info h2 {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: .5rem;
}

.menu__item--info p {
    font-size: .7rem;
    font-weight: 300;
}

.menu__icon {
    width: 10%;
}
