li {
    list-style: none;
}

.main__galeria {
    margin: 5%;
}

.galeria__recentes {
    margin-bottom: 1.6rem;
}

.galeria__imagens {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.galeria__item {
    margin: 1rem;
}

.item__img{
    width: 400px;
}


