li {
    list-style: none;
}

.main__galeria {
    margin: 5%;
}

.galeria__recentes {
    margin-bottom: 1.6rem;
}

.galeria__imagens {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.galeria__item {
    margin: 1rem;
}

.item__img{
    width: 400px;
}

.albuns__titulo {
    margin-bottom: 1.5rem;
}

.albuns__lista {
    display: flex;
    column-gap: 2rem;   
}

.album__item--desc {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem;
    background-color: var(--cinza-card);
    border-radius: 8px;

}

.album__item--img {
    width: 350px;
}

