.header__lista {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    background: var(--gradiente);
    padding: 1.6rem;
}

.logotipo {
    font-size: 2rem;
    color: var(--branco);
    font-weight: 700;
}

.logotipo::after {
    content: "| Intranet";
    font-weight: 300;
}

.header__item a {
    font-size: 1.5rem;
    color: var(--branco);
    text-decoration: none;
}