header {
    grid-area: header;
}

.header__lista {
    display: flex;
    align-items: center;
    list-style-type: none;
    background: var(--gradiente);
}

.logotipo {
    font-size: 2rem;
    color: var(--branco);
    font-weight: 700;
}

.header__item {
    padding: 1.6rem 6.9rem;
    margin: -5px 0;
}

.ativo {
    background-color: var(--azul-sec);
    border-bottom: 5px solid var(--azul-main);
}

:is(.header__item:nth-child(2),.header__item:nth-child(3), .header__item:nth-child(4)):hover{
    background-color: var(--azul-main);
}

.logotipo::after {
    content: "| Intranet";
    font-weight: 300;
}

.header__item a {
    font-size: 1.5rem;
    color: var(--branco);
    text-decoration: none;
}