:root {
    --azul-main: #0084CF;
    --azul-sec: #01B2AC;
    --azul-footer: #0171B8;
    --branco: #FFF;
    --gradiente: linear-gradient(to right,#0084CF,#01B2AC);
    --fonte: 'Gotham', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 16px;
    font-family: var(--fonte);
}
