:root {
    --azul-main: #0084CF;
    --azul-sec: #01B2AC;
    --azul-footer: #0171B8;
    --branco: #FFF;
    --gradiente: linear-gradient(to right,#0084CF,#01B2AC);
    --fonte: 'Gotham', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    grid-template-areas:
    'header'
    'aside main'
    'subfooter'
    'footer';
}

main {
    display: grid;
    grid-template-areas:
    "aside main";
    grid-template-columns: 1fr 4fr;
    grid-area: main;
}

body {
    font-size: 16px;
    font-family: var(--fonte);
}
